.views{
  background-image: url("../../../public/assets/images/sectionViewBg.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  height: 100%;
  background-position: 0px 50px;
}