.header{
  position: relative;
  &:before{
    content: '';
    background-image: url('../../../public/assets/images/Ellipse-1.png');
    background-repeat: no-repeat;
    background-size: contain;
    width: 800px;
    height: 800px;
    position: absolute;
    left: -160px;
    top: -40px;
    z-index: -1;
  }
}