.footer{
  position: relative;
  display: flex;
  justify-content: space-between;
  &:before{
    content: '';
    background-image: url("../../../public/assets/images/Ellipse-1.png");
    background-repeat: no-repeat;

    background-size: cover;
    position: absolute;
    top: -500px;
    width: 500px;
    height: 500px;
    transform: rotate(270deg);
    left: 0;
  }
  &:after{
    content: "";
    background-image: url("../../../public/assets/images/Ellipse-1.png");
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: -500px;
    width: 500px;
    height: 500px;
    transform: rotate(180deg);
    right: 0;
  }
  .social-link:hover{
    svg{
      path{
      fill: #eff1f6;
      }
    }
  }
}